#map {
    height: 100%;
}

@media (max-width: 1023.9px){
    .mdui-drawer-body-left:not(.mdui-drawer-open) {
        padding-left:  0%;
    }
}
.mdui-drawer-body-left {
    padding-left:  450px;
}


.time {
    z-index: 114514;
    position: fixed;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    width: 180px;
    cursor: default;
    left: 50%;
}