@font-face {
    font-family: 'Consolas';
    src: url(../fonts/consolas/consola.ttf);
}

#map {
    height: 100%;
}

@media (max-width: 1023.9px){
    .mdui-drawer-body-left:not(.mdui-drawer-open) {
        padding-left:  0%;
    }
}
.mdui-drawer-body-left {
    padding-left:  450px;
}

.tag {
    font-family: 'Consolas';
    padding: 3px;
    background-color: #ffffff;
    border: 0px solid #fff;
    border-radius: 3px;
}

.tag::before {
    visibility: hidden;
}

@media (min-width: 1023.9px){
    .popup {
        display: none;
    }
}

.time {
    z-index: 114514;
    position: fixed;
    margin-top: 0px;
    font-size: 25px;
    font-weight: bold;
    width: 180px;
    cursor: default;
    left: 50%;
}